*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.hero{
    height: 750px;
    width: 100%;
    background-image: url(IMG_6180.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li a{
    font-weight: bold;
    color: black;
}
.name{
    position: absolute;
    margin: 100px;
    font-size: larger;
    color: white;
}
.about-text{
    color: white;
}
h4{
    font-size: xx-large;
}
h5{
    font-size: large;
}
#about-me{
background-color: black;
}
#Github{
    font-size: 50px;
background-color: grey;
height: 500px;
}
p{
    font-size: 20px;
}
#Contact{
    font-size: 50px;
    background-color: blueviolet;
    height: 500px;
}
button{
    background-color: pink;
}
form{
    font-size: 20px;
}